<!-- 
  Copyright © 2020, Raytheon BBN Technologies. All rights reserved.
  See LICENSE.md in top level directory for additional information
 -->

<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/home']" routerDirection="forward">
        <ion-icon name="flask-outline" slot="start"></ion-icon>
        <ion-label>Experiments</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Configure</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="school" slot="start"></ion-icon>
        <ion-label>Tutorial</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/about']" routerDirection="forward">
        <ion-icon name="help" slot="start"></ion-icon>
        <ion-label>About</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/debug']" routerDirection="forward">
        <ion-icon name="hammer" slot="start"></ion-icon>
        <ion-label>Debug</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div>
      <div class = "ion-text-center">
            <h1>About PACT</h1>
      </div>
      <div>
        <ion-row class="ion-justify-content-center">
              <p>Private Automated Contact Tracing</p>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
          <infinite-scroll>
              <h4>
                PACT is a collaboration led by the MIT Computer Science and Artificial Intelligence Laboratory (CSAIL),
                 MIT Internet Policy Research Initiative, Massachusetts General Hospital Center for Global Health and
                  MIT Lincoln Laboratory. It includes close collaborators from Boston University, Brown University,
                  Carnegie Mellon University, the MIT Media Lab, the Weizmann Institute and a number of public and
                  private research and development centers. The PACT team is a partnership among cryptographers,
                   physicians, privacy experts, scientists and engineers.</h4>

                     <br>
                <h4>PACT’s mission is to develop technology that enhances the public health community’s ability
                 to slow the COVID-19 pandemic by augmenting the reach and efficacy of existing contact
                 tracing strategies. We use personal digital communication devices
                 that automate parts of the exposure detection function with privacy preserving design.</h4>

                 <h4>The PACT Toolkit is designed so users are able to conduct their own experiments and contribute to the PACT dataset.</h4>
                 <h4> MORE INFO - What all should we say here?</h4>

          </infinite-scroll>
          </ion-col>
          </ion-row>
      </div>
    </div>


  </ion-content>
  <ion-footer class="ion-justify-content-center" >
  <ion-toolbar >
    <ion-note>  Copyright © 2020 PACT: Private Automated Contact Tracing</ion-note>
  </ion-toolbar>
</ion-footer>
</div>
