/* 
 *  Copyright © 2020, Raytheon BBN Technologies. All rights reserved.
 *  See LICENSE.md in top level directory for additional information
 */

.select-full-width {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
  }